<%- include('../partials/head.ejs') %>

</head>

<body>

  <%- include('../partials/navigation.ejs') %>

  <main>
    <% if (cart.length > 0) { %>
    <ul>
      <% cart.forEach(prod =>{ %>
      <li>
        <span><%= prod.data.title %> (<%= prod.qty %>)</span>
        <form action="/cart-delete-item" method="POST">
          <button class="btn" type="submit">Delete</button>
          <input type="hidden" value="<%= prod.data.id %>" name="productId">
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <h1>Cart is empty!</h1>
    <% } %>
  </main>

  <%- include('../partials/end.ejs') %>